<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 

<body>
    <%- include('./partials/header') %> 
    <main>
        <div class="containerAdd">
            <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_snmohqxj/lottie_step2/data.json"  background="transparent"  speed="1"  style="height: 200px; width:500px;"  loop  autoplay></lottie-player>
            <h1>AGREGAR RECETA</h1>
            <div class="create-forms">
                <form class="create" action="/admin/cargaDeProducto" method="POST" enctype="multipart/form-data">
                    <div class="name">
                        <label for="floatingInput" name="user">NOMBRE DE RECETA</label>
                        <input type="text" class="form-control" id="floatingInput" name="user" placeholder="name@example.com">
                    </div>
                    <div class="large">
                       <label for="descripcion">¿COMO LO COCINO?</label>
                       <textarea name="descripcion" id="descripcion" cols="30" rows="5"></textarea>
                          </div>
                 <div class="large">
                        <label for="acidezTotal">INGREDIENTES</label>
                       
                        <textarea name="descripcion" id="descripcion" cols="30" rows="5"></textarea>
                       
                        </div>
                <div class="name">
                        <label for="inputFile">Cargar Imagen:</label>
                         <input type="file" name="image" id="inputFile">
                </div>
                             <button type="submit">CREAR</button>                             
            </div>
        </div>
    </main>
</body>
</html>