<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
<script src="/javascripts/carousel.js" defer></script>
    <title>RECETARY</title>
</head>
<body>
    <header>
        <img class="logo" src="/img/recetary.png" alt="">
        <h1>WELCOME</h1>
        <button><a href="#">MIS RECETAS</a></button>
    </header>
    <main class="index">
 <!-- CAROUSEL -->
<div class="carousel">
    <lottie-player src="https://assets1.lottiefiles.com/temp/lf20_nXwOJj.json"  background="transparent"  speed="1"  style="width: 500px; height: 300px;"  loop  autoplay></lottie-player>
</div>
<div class="otrasRecetas">
    <h2>TODAS LAS RECETAS</h2>
    
</div>
<hr width="20px">

    </main>
  
</body>
</html>