<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body>
    <div class="container">
        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                <div class="text-end">
                    <img src="/img/recetary.png" width ="100" alt="">
                </div>
                <h2 class="fw-bold text-center  mb-5">Bienvenido</h2>
                <form action="#"></form>
            </div>
        </div>
    </div>
</body>
</html>