 <!-- HEAD -->
<%- include('./partials/head.ejs')  %> 

<body>
    <%- include('./partials/header.ejs')  %>
    <main>
        <h1>holi</h1>

    </main>
    <!-- <%- include('./partials/footer') %> -->
</body>