<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %> 
    <div class="container">
        <div class="row">
            <div class="col bg">
                <img src="/img/login.jpg" alt="">
            </div>
            <div class="col">
                <div class="text-end">
                    <img src="/img/recetary.png" width ="100" alt="">
                </div>
                <h2 class="fw-bold text-center  mb-5">Bienvenido</h2>
                <form action="/user/login" method="POST">
                    <div class="mb-4 form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput" name="user">Usuario</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword" name="pass">Password</label>
                      </div>
                    <div class="mb-4 form-check">
                        <input type="checkbox" name="remember" class="form-check-input">
                        <label for="remember" class=form-check-label>Mantener iniciado</label>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Iniciar sesion</button>
                    </div>
                    <div class="my-3">
                        <span>No tienes cuenta? <a href="#">Registrate</a></span>                        
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</body>
</html>
