

header{
    display: flex;
    justify-content: space-around;
    background-color: #FFF8E5;
    align-items: center;
    border-bottom: solid #E05D5D 1px;
}
header img{
width: 125px;
height: 125px;
}
header h1{
font-family: 'Raleway', sans-serif;
color: #00A19D;

}

header button{
    border-radius: 55px;
    padding: 10px;
    background-color: transparent;
    border: solid #E05D5D 1px ;
    
}
header button a{
    text-decoration: none;
    color: #E05D5D;
    font-weight: bolder;

}
header button a img{
    width: 25px;
    height: 25px;
}

main.index{
    text-align: center;
    align-items: center;
    background-color: #FFF8E5 ;
}
main.index .recipe-cards .controls{
    display: flex;
    justify-content: space-around;
    border: 1px #FFB344 solid;
}
main.index .otrasRecetas h2.question{
    margin-top: 55px;
    font-weight: lighter;
    font-size: 55px;
    
}
main.index .agregarP{
    
    background-color: #FFB344;
    color: #FFF8E5;
    width: auto;
}
main.index .agregarP a{
    color: #FFF8E5;
}
main .carousel{
padding-top: 25px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 75px;
}
hr{

    align-items: center;
    width: 100%;
    background-color: #FFB344;
}
section.recipe-cards{
    justify-content: space-around;
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 85px;
}
section.recipe-cards .recipe{
    border-radius: 20px;
    box-shadow: 1px 2px 5px 3px#FFB344 ;
    color: #FFF8E5 ;
    background-color:#00A19D ;
    padding: 10px;
    border: 2px #FFB344 solid;
    margin-bottom: 10px;
    
}
section.recipe-cards .recipe img{
    max-width: 355px;
}
section.recipe-cards .recipe h4{
    font-size: 35px;
}
.recetasMes {
  
    margin: 0 auto;
    align-items: center;
    text-align: center;
height: 155px;
background-image: url(/img/fondito.jpg) ;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
width: 70%;
border-radius: 55px;
display: flex;
justify-content: center;
}
.recetasMes h2{
    font-weight: 999;
    align-items: center;
    text-align: center;
    margin-top: 0 auto;
    color: white;
}

.cardMes {
    margin-top: 255px;
    
}
.cardMes .grid2 img{
    margin-bottom: 155px;
} 