

header{
    display: flex;
    justify-content: space-around;
    background-color: #FFF8E5;
    align-items: center;
    border-bottom: solid #E05D5D 1px;
}
header img{
width: 125px;
height: 125px;
}
header h1{
font-family: 'Raleway', sans-serif;
color: #00A19D;

}

header button{
    border-radius: 55px;
    padding: 10px;
    background-color: transparent;
    border: solid #E05D5D 1px ;
    
}
header button a{
    text-decoration: none;
    color: #E05D5D;
    font-weight: bolder;

}
header button a img{
    width: 25px;
    height: 25px;
}

main.index{
    text-align: center;
    align-items: center;
    background-color: #FFF8E5 ;
}
main.index .otrasRecetas h2{
    margin-top: 55px;
    font-weight: lighter;
    font-size: 55px;
    
}
main.index .agregarP{
    background-color: #FFB344;
    color: #FFF8E5;
    width: auto;
}
main.index .agregarP a{
    color: #FFF8E5;
}
main .carousel{
padding-top: 25px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 75px;
}
hr{

    align-items: center;
    width: 100%;
    background-color: red;
}
section.recipe-cards{
    justify-content: space-around;
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
}
section.recipe-cards .recipe{
    border: 1px red solid;
    margin-bottom: 10px;
    
}
section.recipe-cards .recipe img{
    max-width: 355px;
}
section.recipe-cards .recipe h4{
    font-size: 35px;
}