
@import url(/stylesheets/home.css);
@import url(/stylesheets/login.css);


* {
  margin: 0;
  padding: 0px;
   font-family: 'Raleway', sans-serif;;
}

a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

