
@import url(/stylesheets/home.css);
@import url(/stylesheets/login.css);
@import url(/stylesheets/detail.css);
@import url(/stylesheets/add.css);


* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  font-family: 'Raleway', sans-serif;
}

a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}
main{
  height: 100vh;
  background-image: url("/img/Desktop\ -\ 4.svg");
  background-size: cover;
}
input{
  outline: none;
}
textarea{
  outline: none;
}
