<div>
    <footer>
        <ul class="linkedin">
        <li> <a href="#"">Tobias Racedo <span class="iconify" data-icon="emojione:pot-of-food" data-width="38"></span></a></li>
        <li> <a href="#"> Jonathan Ruiz <span class="iconify" data-icon="emojione:shallow-pan-of-food" data-width="38"></span></a></li>
        <li> <a href="#"> Aimé Pelozo <span class="iconify" data-icon="emojione-v1:pot-of-food" data-width="38"></span></a></li>
        <li> <a href="#"> Kevin Almada <span class="iconify" data-icon="noto-v1:shallow-pan-of-food" data-width="38"></span></a></li>
        <li> <a href="#"> Macarena Perez <span class="iconify" data-icon="noto-v1:pot-of-food" data-width="38"></span></a></li>
        <li> <a href="#"> Gonzalo Alcocer <span class="iconify" data-icon="noto:shallow-pan-of-food" data-width="38"></span></a></li></ul>
    </footer>
</div>